@import url(http://fonts.googleapis.com/css?family=Roboto);
html,
body,
#map-canvas {
  height: 100%;
  font-family: 'Roboto', serif;
}
html,
body,
a,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
  background: transparent;
}

body {
  font-size: 13px;
  color: #878787;
  /* background: #F5F5F5; */
  overflow: hidden;
}

a {
  color: #33b5e5;
  text-decoration: none;
}

#footer {
  z-index: 99;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
}
#footer h1 {
  font-weight: 200;
  font-size: 1.5em;
}
#footer div {
  padding: 1em;
}
#footer #flash {
  background: #fff;
  padding: .5em 1em;
}
#footer #flash.error {
  color: red;
}
#footer img {
  position: absolute;
  bottom: 1.5em;
  right: 1em;
}

.panel {
  display: none;
  width: 220px;
  padding: 20px;
  color: #878787;
  background-color: white;
  box-shadow: inset 0 0 1px 7px gray;
}

.panel h1 {
	font-size: 44px; 
	font-weight: 200;
  display: block;
  float: left;
}

#my-panel {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}

#panel-close {
  display: block;
  float: right;
  margin-top: 4px;
}

#my-link {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 1;
  background: none;
}

ul {
  display: inline-block;
}